* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Rubik', sans-serif; 
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #14A4E8, #5a01d0);
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.center {
  width: 350px;
  background: rgb(223, 223, 223);
  border-radius: 20px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

input[type="text"]{
  height: 60px;
  width: 300px;
  margin-top: 40px;
  border-radius: 35px;
  color: #303030;
  font-size: 22px;
  text-align: right;
  padding-right: 20px;
  border: 1px solid #d4d4d4;
  background: linear-gradient(to bottom, #D1DCE0, #D0D0D0);
  box-shadow: 0 20px 25px rgb(0 0 0 / 5%);
}

form .buttons{
  width: 300px;
  margin: 10px 25px 0 25px;
  padding-right: 10px 0;
}

input[type="button"]{
  width: 58px;
  height: 55px;
  margin: 5px;
  font-size: 22px;
  line-height: 55px;
  border-radius: 35px;
  border: 1px solid #D9D9D9;
  background: linear-gradient(to bottom, #D9D9D9, #C5C4C4);
  cursor: pointer;
  color: #303030;
  box-shadow: 0 20px 25px rgb(0 0 0 / 11%);
}

input[type="button"]:hover{
  transition: .5s;
  background: linear-gradient(to bottom, #C5C4C4, #D9D9D9);
}
input#clear{
  background: #FF841A;
  color: #FFF;
}
input#clear:hover {
  background: #FF841A9E;
}

input#equal{
  width: 275px;
  margin: 10px 0 20px 0;
  font-size: 30px;
  color: #FFF;
  background: #FF6737;
}

input#equal:hover{
  background: #FF841A9E;
}