* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Rubik', sans-serif; 
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #bf14e8 0%, #5a01d0 100%);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: .60rem;
  background-color: #a7a0a0;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #5a01d0;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bf14e8;
}

.wrapper {
  padding: 25px;
  margin: 120px auto;
  max-width: 400px;
  width: 100%;
  background: #FFF;
  border-radius: 1rem;
}

.wrapper header {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #5a01d0;
}

.wrapper .inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #CCCCCC61;
  border-radius: .8rem;
}

.inputField input {
  outline: none;
  width: 85%;
  height: 100%;  
  font-size: 17px;  
  padding-left: 15px;
  border-radius: .8rem;
}

.inputField button {
  width: 60px;
  height: 100%;
  border: none;
  outline: none;
  background: #5a01d0;
  color: #FFF;
  font-size: 22px;
  cursor: pointer;
  border-radius: 0 .8rem .8rem 0;
  opacity: 0.6;
  pointer-events: none;
}

.inputField button:hover {
  background: #5a01d08c;
}

.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}

.wrapper .todoList {
  max-height: 250px;
  overflow-y: auto;
}

.todoList li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #F2F2F2;
  border-radius: .8rem;
  margin-bottom: 8px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}

.todoList li span {
  position: absolute;
  width: 45px;
  right: -45px;
  color: #FFF;
  text-align: center;
  background: #e74c3c;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todoList li:hover span {
  right: 0px;
}

.wrapper .footer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.footer button {
  border: none;
  outline: none;
  padding: 6px 10px;
  background: #5a01d0;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  border-radius: .8rem;
  opacity: 0.6;
  pointer-events: none;
}

.footer button:hover {
  background: #5a01d08c;
}

.footer button.active {
  opacity: 1;
  pointer-events: auto;
}
